@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap');

* {
   padding: 0;
   margin: 0; 
}

body {
    background-color: rgb(242,241,241);
    font-family: 'Roboto', sans-serif;

}

a {
 text-decoration: none;
}

.navbar {
    padding: 1rem;
    background-color: white;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.right {
    display: flex;
    justify-content: space-around;
}
.right a i {
    font-size: 1.5rem;
    margin-right: 1.5rem;
    color: black;
}

.right a i:hover {
    color: grey;
}

.left {
    display: flex;
    font-size: 1.5rem;
}

.app {
    color: #277BC0;
    font-weight: 900;
}

.left:hover {
    cursor: pointer;
}

.logo {
    font-weight: 900;
}

.container {
    margin: 0.1rem 20rem;
    background-color: white;
}

.container .profile {
  position: relative;
  width: 100%;
}

.container .profile .cover {
 position: relative;
 width: 100%;
 border-bottom: 0.4rem solid white;
}

.container .profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .profile .avatar {
    width: 150px;
    height: 150px;  
    position: absolute;
    bottom: -3rem;
    border-radius: 10rem; 
    border: 0.4rem solid white; 
}

.stats {
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
}
.stats div p {
    text-align: center;
    font-size: 1rem;
}

.title {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
    font-weight: 900;
}

.nick-name {
    margin-top: 4rem;
    font-size: 1.6rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}
.questions{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}
textarea {
    position: relative;
    width: 100%;
    height: 9rem;
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
    resize: none;
}

textarea::placeholder{
    font-size: 1rem;
    padding: 0.8rem;
    font-family: 'Roboto', sans-serif;

}

textarea:focus{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    outline: none !important;
}
.questions button {
    margin-right: 0.4rem;
    padding: 0.4rem;
    width: 10%;
    background-color: #ccc;
    color: black;
    border: none;
    font-size: 1rem;
    border-radius: 1rem;
}

.ques-bottom {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    margin-right: 5px;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 

  .old-questions{
    padding: 1rem;
    border-top: 1rem solid rgb(242,241,241);
    display: flex;
    flex-direction: column;
  }

  .question-from{
    display: flex;
    flex-direction: column;
  }

  .question-from :last-child{
    color: #2196F3;
  }

  .answer {
    display: flex;   
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

 }

 .answer img{
    width: 3rem;
    height: 3rem;
    border-radius: 5rem;
    border: 2px solid rgb(242,241,241);
    margin-right: 0.5rem;
 }

 .answer-details {
    display: flex;
    flex-direction: column;
 }
 .answer-details p {
    margin-bottom: 0.2rem;
 }

 .answer-details :last-child {
    color : #ccc;
    font-size: 0.8rem;
 }

 .response{
    margin-bottom: 0.5rem;
 }

 .reactions {
    margin-top: 0.5rem;
    display: flex;
    font-size: 1rem;
 }

 .reactions a {
    margin-right: 2rem;
    color: #ccc;
}

.count {
    color: black;
}

.reactions a:hover {
    transform: scale(1.1);
    color: red;
}