@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap');

* {
   padding: 0;
   margin: 0; 
}

body {
    background-color: rgb(242,241,241);
    font-family: 'Roboto', sans-serif;

}

a {
 text-decoration: none;
}

.navbar {
    padding: 1rem;
    background-color: white;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.right {
    display: flex;
    justify-content: space-around;
}
.right a i {
    font-size: 1.5rem;
    margin-right: 1.5rem;
    color: black;
}

.right a i:hover {
    color: grey;
}

.left {
    display: flex;
    font-size: 1.5rem;
}

.app {
    color: #277BC0;
    font-weight: 900;
}

.left:hover {
    cursor: pointer;
}

.logo {
    font-weight: 900;
}

.checked {
    border-bottom: 1px solid red;
}